.java-title, .bedrock-title, .minecraft-title {
    color: #09ff00;
    text-align: center;
    width: 800px;
    font-size: 2.5em;
    font-family: inherit;
    margin: 0;
}
.titles-row {
    width: 100%;
    max-width: 2400px;
    margin: 40px auto 0 auto;
    display: flex;
    justify-content: flex-start;
}
.main-title {
    background-image: linear-gradient(90deg, #3dff3d, #226322, #3dff3d, #226322, #3dff3d);
    background-size: 400% auto;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    text-align: center;
    width: 800px;
    font-size: 2.5em;
    font-family: inherit;
    margin: 0 auto;
    animation: gradientMove 6s linear infinite;
}
@keyframes gradientMove {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.normal-title {
    color: #09ff00;
    text-align: center;
    width: 800px;
    font-size: 2.5em;
    font-family: inherit;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .main-title {
        width: 90%;
        font-size: 2em;
    }
    .normal-title {
        width: 90%;
        font-size: 2em;
    }
    .titles-row {
        flex-direction: column !important;
        justify-content: center !important;
    }
    .images-row {
        flex-direction: column !important;
        align-items: center !important;
    }
    img {
        width: 90% !important;
        max-width: 1000px !important;
        margin: 10px auto !important;
    }
    .java-info, .bedrock-info {
        width: 90% !important;
        margin: 20px auto !important;
        font-size: 1em !important;
    }
}